.input-icons i {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 50px;
    margin-left: 10px;
}
  
.input-field {
    width: 20%;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    outline: none;
    margin-left: 20px;
}

table.dataTable thead th {
    border-bottom: none !important;
 }
table.dataTable.no-footer {
    border-bottom: none !important;
    margin-bottom: 5px;
  }

 .dataTables_length{
    margin: 10px;
    margin-left: 20px;
  }

  .pointer {
      cursor: pointer;
    }

    #field, label{
        float: none !important;
    }

.sub-menu{
    margin-left: 15px;
}

.edit_save_info{
    width:2%;
    float:right;
    position: absolute !important;
    float: right;
    right: 0;
}

.save_infor_button{
    background: transparent;
    border: none;
    background:none;
    outline: none !important;
}
