*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.dataTables_filter {
    display: none;
 }
 .form-control{
     width: 35% ;
 }
 
img{
    width:100%;
    height: auto;
}
.dashbord-wrapper{
    width: 100%;
}
.dashbord-header {
    background: #f34e4e;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 17px 26px;*/
    padding: 2px 26px;                 
}
.dashbord-header .toggle-left-section {
    display: flex;
    gap: 78px;
    padding-left: 5%;
}
.dashbord-header .admin-title {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
.dashbord-header .toggle {
    width: 100%;
    max-width: 39%;
    display: inline-block;
}
.dashbord-header .img-title-rigt{
    width:100%;
    max-width: 44.4%;
}
.dashbord-container {
    width:100%;
    max-width: 100%;
    display: flex;
}
.sidebar {
    /*max-width: 283px;*/
    max-width: 260px;
    width: 100%;
    flex: 0 0 283px;
    border-right:  1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    min-height: 951px;
}
.sidebar-links{
    list-style: none;
    padding: 0;
    padding: 13px 20px 29px 20px;
}
.sidebar-links .tab-list {
    margin-bottom: 30px;
}
.sidebar-links .img-icon {
    width: 100%;
    max-width: 30px;
    display: inline-block;
    height: 30px;
}
.sidebar-links .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    gap:19px;
}

.sidebar-links  .link:hover {
    background: #E6E6E6;
    padding: 10px 10px 17px 15px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}
.sidebar-links .link:hover .img-icon {
    width: 100%;
    max-width: 18px;
    display: inline-block;
    height: 18px;
    transition: 0.3s ease-in-out;
}

.active{
    background: #E6E6E6;
    padding: 10px 10px 17px 15px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
  }

.sidebar .setting-section {
    /*display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:0;    
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width:100%;
    padding: 0px 0px 0px 28px;
    align-items: center;*/

    /*for sticky*/
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /*max-width: 282px;*/
    max-width: 260px;
    align-items: center;
    width: 100%;
    background: #fff;
    z-index: 111;
}
.sidebar .setting-section .setting {
    display: inline-block;
    margin-right: 47px;
    max-width: 15px;
    height: 18px;
    margin-left: 20px;
}
.sidebar .setting-section .setting-text {
    display: inline-block;
    margin-right: 0;
    font-size: 18px;
}
.sidebar .setting-section .log-out {
    /* background: #E6E6E6; */
    padding: 7px 9px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.sidebar .setting-section .log-out:hover {
    background: #E6E6E6;
    padding: 7px 9px;
}
.sidebar .setting-section  .logout-img{
    max-width: 47px;
    height: 41px;
    width:100%;
}
.dashbord-container .right-content {
    /* flex: 1 0 auto; */
    width: 100%;
    position: relative;
    min-height: 951px;
}

.dashboard-title {
    /*padding: 31px 20px 31px 40px;*/
    padding: 13px 20px 9px 40px;
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
}
.dashboard-title .title{
    font-size: 40px;
    font-weight: 400;
}
.dashbord-container .right-content  .stratent-img{
    position: absolute;
    right: 4%;
    max-width: 18%;
    bottom: 24px;
}
/*table start*/

.table-responsive{
    overflow-x: auto;
 }
table.GeneratedTable {
  width: 96% !important;
  background-color: #ffffff;
  border-collapse: collapse;
  margin:20px auto;
}
.corporateinfofullwidth{
    flex: 1 0 auto ;
    margin-right: 20px;
}
 .corporateinfoTable {
    width: 96% !important;
    background-color: #ffffff;
    border-collapse: collapse;
    margin:20px auto;
    margin-right: 0%;
  }
table.GeneratedTable td, table.GeneratedTable th {
  border-bottom: 1px solid #ECECEC;
  padding: 5px ;
  font-size: 14px;
  font-weight: 400;
  font-family: roboto;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
table.GeneratedTable td{
    padding: 10px 5px;
}
table.GeneratedTable th{
    padding: 6px 10px;
}
table.GeneratedTable thead {
background: #f5f5f5;
}

/*table end*/


@media(max-width:768px){
    .dashbord-header {
        padding: 17px 20px;
        flex-wrap: wrap;
    }
    .dashbord-header .toggle-left-section {
        padding-left: 0;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        gap: 0;
        align-items: center;
    }
    .dashbord-header .img-title-rigt {
        display: none;
    }
    .dashbord-header .toggle {
        width: 100%;
        max-width: 25px;
        height: 25px;
    }
    .sidebar-links .link {
        font-size: 16px;
        gap: 15px;
    }
    .sidebar-links .img-icon {
        max-width: 25px;
        height: 25px;
    }
    .sidebar-links .tab-list {
        margin-bottom: 25px;
    }
    .dashboard-title {
        padding: 20px ;
    }
    .dashboard-title .title {
        font-size: 28px;
    }
    .sidebar {
        max-width: 244px;
        width: 100%;
        flex: 0 0 244px;
        min-height: 951px;
    }
    .dashbord-container {
        overflow: hidden;
        width: 100%;
    }
    .sidebar .setting-section{
        max-width: 243px;
    }
    .sidebar .setting-section .setting-text {
        font-size: 16px;
    }
    .sidebar .setting-section .log-out {
        padding: 5px 15px;
    }
    .dashbord-header .admin-title {
        font-size: 20px;
    }

}




